#click {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align:center;
    vertical-align: middle;
    font-size: 2em;
    position:absolute;
}

#bigSpace {
    height: 1000px;
}
